﻿<link rel="apple-touch-icon" sizes="180x180" href="/Content/Images/Favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/Content/Images/Favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/Content/Images/Favicon/favicon-16x16.png">
<link rel="icon" href="/Content/Images/Favicon/favicon.ico" type="image/x-icon">

<link rel="manifest" href="/Content/Images/Favicon/site.webmanifest.json">
<link rel="mask-icon" href="/Content/Images/Favicon/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/Content/Images/Favicon/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/Content/Images/Favicon/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

<meta name="msapplication-TileImage" content="http://happyarray.org/Content/Images/Favicon/android-chrome-192x192.png">
<meta property="og:type" content="website" />
<meta property="og:title" content="HappyArray" />
<meta property="og:url" content="https://happyarray.org" />
<meta property="og:description" content="Free Christian Programming Course" />
<meta property="og:image" content="http://happyarray.org/Content/Images/Favicon/android-chrome-192x192.png" />
<meta property="og:site_name" content="HappyArray" />
<meta property="og:updated_time" content="1440432930" />
<meta property="og:image:width" content="300">
<meta property="og:image:height" content="300">
