﻿<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GX46GVXXDX"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-GX46GVXXDX');
    </script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Html.Partial("_Favicons")
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/layoutJS")
    @RenderSection("styles", required: false)

    <script>
        $(document).ready(function () {

        });

    </script>
</head>
<body>
    <nav class="navbar navbar-expand-xl navbar-light fixed-top bg-light">
        <a class="navbar-brand" href="../../Home/Index">
            <h3 data-group="english">Happy Array</h3>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" data-group="english">
                    <a class="nav-link" href="#how_it_works">How does it work?</a>
                </li>
                <li class="nav-item" data-group="english">
                    <a class="nav-link" href="#about_us">About us</a>
                </li>
                <li class="nav-item" data-group="english">
                    <a class="nav-link" href="#contact_us">Contact us</a>
                </li>
                <li class="nav-item" data-group="english">
                    <a class="nav-link" href="#donation">Donation</a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="body-row" style="margin-top: -8px;">
        <div class="col py-2" style="padding-left: 0px; padding-right: 0px;">
            <div class="container body-content">
                @RenderBody()
                <footer class="footer py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                                <p class="text-muted small mb-4 mb-lg-0" data-group="english">&copy; Free Programming Courses @DateTime.Now.Year. All Rights Reserved.</p>
                            </div>
                            <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
            @RenderSection("scripts", required: false)
        </div>
    </div>
</body>
</html>
