﻿body {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
}

body {
    padding-top: 4.2rem;
}

.navbar.fixed-top {
    min-height: 4.2rem;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 2.2rem;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

.fixedHeight {
    overflow-y: scroll;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.notunderline {
    text-decoration: none !important;
    border-bottom: 0 !important;
}

.blueIcon {
    color: #007bff !important;
}

.envelopIcon {
    color: #ffc107 !important;
}

.toast-header {
    background-color: #d4edda;
    border-bottom: 0;
}

.toast-header-error {
    background-color: #fa9b9b;
    border-bottom: 0;
}

.entity-state {
    font-size: large;
}

.custom-control-label::before, .custom-file-label, .custom-select {
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.fc-view-container a {
    color: white !important;
    cursor: pointer;
}

@media (max-width: 576px) {
    .btn:not(.toggle-on, .toggle-off) {
        width: 100%;
        margin-bottom: 5px;
    }
}

@media (max-width: 778px) {
    .fc-toolbar.fc-header-toolbar {
        display: inline;
    }

    .fc-toolbar.fc-header-toolbar .fc-left,
    .fc-toolbar.fc-header-toolbar .fc-center,
    .fc-toolbar.fc-header-toolbar .fc-right {
        margin-bottom: 10px;
        text-align: center;
    }

    .fc-scroller {
        height: auto !important;
    }
}

.toast {
    z-index: 99999;
}

.badge-lg{
    font-size: 100% !important;
}

.inline-form-photo {
    display: flex;
    max-width: 300px;
}

.badge-inprogress {
    color: #000;
    background-color: #8cefa1;
}

.badge-canceled {
    color: #fff;
    background-color: #630009;
}

.badge-notfound {
    color: #ffffff;
    background-color: #6b23ec;
}

.badge-open {
    color: #ffffff;
    background-color: #17a2b8;
}