﻿@{
    ViewBag.Title = "Home Page";
}

@section styles{
    @Styles.Render("~/Content/css/homePage")
}
@Scripts.Render("~/bundles/countdown")


<section class="features-icons bg-light text-center">
    <div class="container">
        <h1 class="mb-5">Free Christian Programming Course</h1>
        <h3 class="mb-5">Starting on October 7, 2024</h3>
        <div>Time left to start <h4 class="mb-5" id="timer-start"></h4></div>
        <div class="row">
            <div class="col-lg-12 showcase-text">
                <p class="lead mb-3">
                    <b>Our mission:</b><br />
                    <b>1.</b> Proclaiming Christ as the only Savior from sin and the only way to abundant, eternal life<br />
                    <b>2.</b> Help you get enough knowledge to get your first job as Junior Software Developer
                </p>
            </div>
            <div class="col-lg-12 showcase-text">
                <p class="lead mb-3">The course will be one year and by the end of this course, you will create a web application as a portfolio for your first interview</p>
            </div>
            <div class="col-lg-12 showcase-text">
                <p class="lead mb-3" style="font-style: italic; font-weight: bold">
                    "Therefore go and make disciples of all nations, baptizing them in the name of the Father and of the Son and of the Holy Spirit, and teaching them to obey everything I have commanded you. And surely I am with you always, to the very end of the age" (Matthew 28:19–20. Bible)
                </p>
            </div>
        </div>
    </div>
</section>
<a name="how_it_works"></a>
<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-lg-6 text-white showcase-img" style="background-image: url('https://lh3.googleusercontent.com/Dk9kiO4EvCB9fFvnpuDMIhco7lF7srmtrAOnmN7v9x-CST9IgJNffZ0epgaAguO6cwEIVHesSUeR6x8txlcfg676RvcGVQu5Nww_D4wbyuoDwVLrutVTXcmTP4tFn0jBU3tuss-qo1w=w2400');"></div>
            <div class="col-lg-6 my-auto showcase-text">
                <h2>How does it work?</h2>
                <p class="lead mb-3">
                    We will convene once weekly for a span of 2 hours, specifically on Mondays at 7pm. Our meetings will take place either at the <a href="https://goo.gl/maps/vT8YKEcXXbeFSi4s5">Life Way Baptist Church</a> or in an online setting.
                    During these sessions, the initial 20 minutes will be dedicated to a Bible lesson, which is a mandatory component in alignment with our stated mission.
                    The remaining duration will be devoted to programming instruction. This course is tailored for individuals who exhibit self-discipline in their pursuit of education, requiring a minimum commitment of 2 hours daily for at-home learning.
                    As your instructor, I will provide clear guidance, valuable resources, and ongoing motivation. I am here to address your inquiries and aid in comprehending complex subjects. Your questions will be answered, and assistance will be provided to facilitate understanding of challenging concepts.
                </p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('https://lh3.googleusercontent.com/pw/AIL4fc9P-pPqpheHk6RzdMBQwDKmKSVef-gD7Ueia409mbrwV1YDwzoL-Y-8DnahIIPLEVx1sOLIdJ0p3xOi6f6ertKMILKZAzE1UI0H35qTP4Nw6Te5Pvxi=w2400');"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>The pre-qualification course.</h2>
                <p class="lead mb-3">
                    Before proceeding to the main course, it's necessary to complete the pre-qualification course and subsequent interview, which determines eligibility for enrollment. You can download and complete the pre-qualification course <a target="_blank" href="https://docs.google.com/spreadsheets/d/1U_iWoOmwSewOIwRS-BRwhLUq7xqTs--sHaliGHCtA6c/edit?usp=sharing">here</a>.<br />
                    The pre-qualification course serves to:
                    <ol>
                        <li><strong>Assess Time Availability:</strong> Determine if the individual can allocate a minimum of 2 hours per day for studying.</li>
                        <li><strong>Evaluate Self-Discipline:</strong> Gauge the individual's ability to maintain self-discipline throughout the educational process.</li>
                        <li><strong>Assess Learning Pace:</strong> Determine if the person can effectively absorb information at a reasonable pace.</li>
                        <li><strong>Identify Educational Needs:</strong> Provide insights into what topics or areas the person might need to be taught.</li>
                        <li><strong>Offer Initial Knowledge:</strong> Provide a foundational level of knowledge to start the educational journey.</li>
                    </ol>
                </p>
                <p class="lead mb-3">
                    After completing the pre-qualification course, please schedule a phone call. Kindly text me to arrange the call. You can find my contact number <a href="#contact_us">here</a>.<br />
                </p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 text-white showcase-img" style="background-image: url('https://lh3.googleusercontent.com/eD6O9iPAZ7B6NwXGgo6z6dPPAMaFLUiQBNvA7q2ksd_Z_4xBs2f8wrXTLUNwuQTOdxxp8cxJ9yTJpBcj3ut8eCi5Am09-YItXFzfj1calI7yUJcT4MN9QgjqhkPXEeUvOFbmPm79yw0=w2400');"></div>
            <div class="col-lg-6 my-auto showcase-text">
                <h2>Requirements.</h2>
                <p class="lead mb-3">
                    For the main course, ensure you have a relatively recent laptop and a Bible.<br />
                    Install the following on your laptop:<br />
                    <a target="_blank" href="https://www.youtube.com/watch?v=nvTwDirvwIw">Visual Studio</a><br />
                    <a target="_blank" href="https://youtu.be/nbFwejIsHlY">Git</a><br />
                    <a target="_blank" href="https://youtu.be/QsXWszvjMBM">Microsoft SQL Server 2019 and SQL Server Management Studio</a><br />
                    <a target="_blank" href="https://youtu.be/tYT0wmcgmcw">Create a BitBucket Account</a><br />
                    <a target="_blank" href="https://youtu.be/o-Ce6XYlYr4">Gitkraken</a><br />
                    For guidance, watch this <a target="_blank" href="https://www.youtube.com/watch?v=gfkTfcpWqAY">video</a> and replicate the steps in your Visual Studio environment.<br />
                    If you're still interested in learning software development, you're welcome to <a href="https://invite.viber.com/?g2=AQA2s76LvM2P5U5l0vIId%2FoCOlT6H9SxAsUrLBJaoApBIBoep95RGVZ7LfXC%2Bgqc" target="_blank">join our Viber group</a>.
                </p>

            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('https://lh3.googleusercontent.com/w3KgheS-8obcp-60ZR81U9Gn53WTDlc1uSiqio9eT0aH_RJxycmmuXD9SGMFtImo9UrI85jm2UAnahs4rkxNGlRowUnbBlofPcrX8keymAlY-0LjGrdyHfLRrO2k1acjvO_LY1wzXBo=w2400');"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>What are we going to learn?</h2>
                <p class="lead mb-3">
                    c#<br />
                    Visual Studio<br />
                    Git<br />
                    EntityFreamwork<br />
                    LINQ<br />
                    MSSQL<br />
                    ASP.NET MVC<br />
                    Unit Testing (NUnit)<br />
                    OOP (Object-oriented programming)<br />
                    SOLID<br />
                    HTML<br />
                    Bootstrap<br />
                    CSS<br />
                    JavaScript<br />
                </p>
            </div>
        </div>
    </div>
</section>
<a name="about_us"></a>
<section class="testimonials text-center bg-light">
    <div class="container">
        <h2 class="mb-5">About Us</h2>
        <div class="row mb-5">
            <div class="col-lg-12 showcase-text">
                <p class="lead mb-0">
                    We are a believing team that tries to serve God with the talents that God has rewarded us with. We think that the church should use
                    IT technologies to more effectively achieve God's purposes on earth.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="https://lh3.googleusercontent.com/-zTtUaC0HR52nlIGoyEfvqqSFbpyAsvFLeu4e2JHbr-gWD1qpaVHMy8bE6HL9zDBtKf1tdJvxp_LQpO2UQuepEt5gwrUYWUd-Qo3Ci4M6EcBH36GKGJ_hkIIwELodtlSqd0PYWakt2w=s200-p-k" alt="">
                    <h5>IHAR PIATROU</h5>
                    <h6>Mentor</h6>
                    <h6>Senior Software developer</h6>
                    <a href="https://www.linkedin.com/in/ihar-piatrou-780775119/" target="_blank" title="LinkedIn">
                        <i class="fa fa-linkedin-square" style="font-size: 36px; color: #0a66c2"></i>
                    </a>
                    <p class="font-weight-light mb-0">I hope this course will help many people to become closer to God and to find a good job</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="https://lh3.googleusercontent.com/U5uua4zmaTQzMXYOARhtFqcTPWEklu9zSqunmrIxegJ4d_8QqBZ25udaUyv2XnCjPWr2ZdRD8pM3qB4HfSIcymmrUwSN25VW3abY_RJQ0j5PtOxq4hFuYPp3-FLYjzRy6Y_sC_Bdpog=w2400" alt="">
                    <h5>ALEXANDER KONOVALOV</h5>
                    <h6>Mentor</h6>
                    <h6>Software developer</h6>
                    <a href="https://www.linkedin.com/in/meetalexkonovalov/" target="_blank" title="LinkedIn">
                        <i class="fa fa-linkedin-square" style="font-size: 36px; color: #0a66c2"></i>
                    </a>
                    <p class="font-weight-light mb-0">
                        Full Stack Developer with experience in database design, analysis, development, coding, and implementation.
                        Flutter Mobile application Developer
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="https://lh3.googleusercontent.com/FZXWL547XWFOav-5rzSuHXPYt4ZkYSLdvz8DkK--p0dvZMwPqYq6X7rjkAWq6gnzx9jHAxvfNg0CrXbP2mET0UwHLRjvLCZ5QbfMoqvhG3fTffexfvG7so-Nn8icrOG7aLZR43UTKOk=s190-p-k" alt="">
                    <h5>MASHA LIBERMAN</h5>
                    <h6>Mentor</h6>
                    <h6>Software developer</h6>
                    <a href="https://www.linkedin.com/in/mashaliberman/" target="_blank" title="LinkedIn">
                        <i class="fa fa-linkedin-square" style="font-size: 36px; color: #0a66c2"></i>
                    </a>
                    <p class="font-weight-light mb-0">She recently completed the programming course</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="https://lh3.googleusercontent.com/U6Hn7rc_RFy8eZh1i8FZfKByzBIGtje57TJ2mDWkbCyvjUt5aUzpJ5Aj68yNktOgPbpaMlOver7vYPknPDXmKtkrZGPB_14G3tg_9Hefy1KEkJarxbIQS_Fa3-0V93DJrYUtPOZL-3s=w2400" alt="">
                    <h5>VLAD PRODANCHUK</h5>
                    <h6>Mentor</h6>
                    <h6>Software developer</h6>
                    <a href="https://www.linkedin.com/in/vlad-prodanchuk-81ba75132/" target="_blank" title="LinkedIn">
                        <i class="fa fa-linkedin-square" style="font-size: 36px; color: #0a66c2"></i>
                    </a>
                    <p class="font-weight-light mb-0">
                        Back end software developer
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="https://lh3.googleusercontent.com/TKW-YUuZf2uQEoxP-v3yfIbxMtKyz04GSkLih5MOuVm1SJEks1YsvjOnyA2bz4ktmmETVz7nCe-7YF77G9D-2Z_eSscIMnuxxwRm8ykydDHrS2lYTXCiprRs_XaDMFYAKFtoYEu7X3w=w2400" alt="">
                    <h5>PAUL PANCHUKOV</h5>
                    <h6>Mentor</h6>
                    <h6>Full Stack Web Developer</h6>
                    <a href="https://www.linkedin.com/in/pav67/" target="_blank" title="LinkedIn">
                        <i class="fa fa-linkedin-square" style="font-size: 36px; color: #0a66c2"></i>
                    </a>
                    <p class="font-weight-light mb-0">
                        Frontend developer
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="https://lh3.googleusercontent.com/J0F0jSyat0SirFdANKtZh1QFuyjtHtnskZFhIS55cXoXovGyql2uZBi14S6yP-ROXgGtBWzuPbRJhSH_l1NmWApe4WxQJJSydc0KGWCxKk6EuhD65yehmkn5WaiPsHJYR_5R34mSQ54=w2400" alt="">
                    <h5>VAL SHULZHENKO</h5>
                    <h6>Mentor</h6>
                    <h6>Software developer</h6>
                    <a href="https://www.linkedin.com/in/val-shulzhenko-8a0767182/" target="_blank" title="LinkedIn">
                        <i class="fa fa-linkedin-square" style="font-size: 36px; color: #0a66c2"></i>
                    </a>
                    <p class="font-weight-light mb-0">
                        Backend (SQL) software developer
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <p class="lead mb-3" style="font-style: italic; font-weight: bold">
                    ”I have not failed. I’ve just found 10,000 ways that won’t work.” ~ Thomas Edison ~
                </p>
            </div>
            <a name="contact_us"></a>
            <div class="col-lg-6 order-lg-2 my-auto showcase-text">
                <h2>Contact us</h2>
                <p class="lead mb-0">
                    <b>Will be glad to answer any questions</b>
                </p>
                <p class="lead mb-0">King of Prussia, PA, 19406</p>
                <p class="lead mb-0"><b>Phone: </b>(215) 964-53-70 (text messages only)</p>
                <p class="lead mb-0">
                    <b>Email: </b><a href="mailto:petrovswd@gmail.com">petrovswd@gmail.com</a>
                </p>
                <p class="lead mb-0">
                    <b>Name: </b>Ihar Piatrou
                </p>
            </div>
        </div>
    </div>
</section>
<a name="donation"></a>
<section class="testimonials text-center bg-light">
    <div class="container">
        <h2 class="mb-5">Donation</h2>
        <div class="mb-5">
            <div class="col-lg-12 showcase-text">
                <a href="https://www.paypal.com/donate/?cmd=_donations&business=ECTZU4JCW28W8&currency_code=USD" target="_blank" class="btn btn-warning">PayPal</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="testimonial-item  mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid mb-3 donation-img" src="https://lh3.googleusercontent.com/lHoPm8dHZSkiadBsGs7Py04rM5jh-j7aS-DYbG3yUt3yjoFJAft2dDUCOo62ExN7ltiKUKGVQDJi834Ty6uJN5plIk9OOem_qhmq5bdJI3Qn4o3k4M1QuVRpYjs5TDYSOVoPW1uLKHI=w2400" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid mb-3 donation-img" src="https://lh3.googleusercontent.com/oi3MdKd4a9QZMKp19Yu7pmjcajWBuNJW0_Gcrht3mI0e8EE_9kP_2aGp6MWRHxg4dX0m35boF1kj2ATlO9AJnCNDpWRAlx6aFdg_TwuFhgZ0UTLjVjQeyN2Pz2tuP396h8YNyX2lK7A=w2400" alt="">
                </div>
            </div>
        </div>
    </div>
</section>